files:
  "/etc/httpd/conf.d/z_wordpress.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
        # BEGIN WordPress
        <Directory "/var/www/html">
        <IfModule mod_rewrite.c>
        RewriteEngine On
        RewriteBase /
        RewriteRule ^index\.php$ - [L]
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteCond %{REQUEST_FILENAME} !-d
        RewriteRule . /index.php [L]
        </IfModule>
        # END WordPress
        </Directory>