###############################################################################
## After you launch your environment, set unique values for these properties
## using the EB CLI's 'eb setenv' command, or the software settings screen in
## Configuration menu for your environment in the Elastic Beanstalk management
## console. Settings using these methods will override the values set in this
## file, and will not be visible in your source code.
###############################################################################

option_settings:
  aws:elasticbeanstalk:application:environment:
    AUTH_KEY: 'vFzWQA6Y7Nk9ixSD5PHWmpYkazjtjMYZUOT5APuOaDQ'
    SECURE_AUTH_KEY: '0xkpLpZuLDWg8jZ7O5q3djfHCg7Cx53Lve0Y0ujseus'
    LOGGED_IN_KEY: '2R8jkDgh0hOip4YownuktdV9NUNTPoJum6jXXH'
    NONCE_KEY: 'B91jYXXBbWFWOfTYGd6wUlVugaHwE+FOjeWbctEnczg'
    AUTH_SALT: 's0yg3UJSWQYM06VMsWNddeECKz0B1/EcEVDOqO6DBw0'
    SECURE_AUTH_SALT: 'ciBnkK/oMspno8s3vr2pohOx74dfqMVT4xgreinBx+Q'
    NONCE_SALT: 'wHTNpmB9eu9P+cOm+iEOz/3uF4CdvQIqgdo+2Uzjnvc'
